footer.footer
  .container
    .footer__row
      .footer__column.footer__about-menu
        <jdoc:include type="modules" name="about" style="xhtml" />
      .footer__column.footer__contacts
        <jdoc:include type="modules" name="contact" style="xhtml" />
  
    .footer__row
      .footer__column.footer__copyright
        .copyright
          Copyright © 2016 Ассоциация крестьянских (фермерских) хозяйств, личных подсобных хозяйств и кооперативов Ленинградской области и Санкт-Петербурга. Все права защищены.   
      
      .footer__column.footer__author
        p Разработка сайта 
          a.footer__author-link(href="https://vk.com/tatyana.kovylina" follow="nofollow" target="_blank" ) Luzdosol