.header__login {
  background-color: $dark;
  margin-bottom: 20px;
}

.header__hero {
  margin-bottom: 30px;
  @include tablets {
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.header__menu {
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  @include tablets {
    display: none;
  }
}

.hero__title {
  @include tablets {
    margin-bottom: 20px;
  }
}

.header__menu--active {
  display: flex;
  @include tablets {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $green;
    z-index: 30;
    .container {
      display: flex; // align-items: center;
      padding-top: 50px;
      padding-left: 50px;
      justify-content: center;
    }
  }
}