.remember-inputbox {
  position: absolute;
  top: 0;
  left: -9999px;
}

.remember-label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
}

.remember-label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #ffffff;
  margin-right: 10px;
  border: 1px solid $green; // ignore
}

.remember-label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  background: url("../images/icons/check_green.png") center center no-repeat / contain;
  background-size: contain;
  width: 19px;
  height: 18px;
}

/*Hide the checkmark by default*/

input[type="checkbox"]+label::after {
  content: none;
}

/*Unhide on the checked state*/

input[type="checkbox"]:checked+label::after {
  content: "";
}

input[type="checkbox"]:focus+label::before {
  outline: $green auto 5px;
}