.pagination {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  font-family: "Oswald", Helvetica, sans-serif;
  @include phones {
    flex-direction: column-reverse;
  }
}

.pagination__list {
  display: flex;
  justify-content: center;
}

.counter {
  display: flex;
  justify-content: flex-end;
  @include phones {
    justify-content: center;
  }
}

.pagination__list span {
  margin-right: 20px;
}

.pagination__list a {
  margin-right: 20px;
  text-decoration: none;
  &:hover {
    color: $green;
  }
}
